.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}